{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
	<div class="container">
		{% if editMode %}
			<h1 class="text-primary text-center">Modifier un Ingrédient</h1>
		{% else %}
			<h1 class="text-primary text-center">Nouvel Ingrédient</h1>
		{% endif %}
		
		{{ form_start (form) }}
            {{form_row (form.name)}}
            {{form_row (form.unit)}}
            <button class="btn btn-primary">Valider</button>
        {{ form_end (form)}}
	</div>
{% endblock %}