Merci pour votre inscription {{ user }}.
Il vous suffit à présent de cliquer sur <a href="{{ path('security_verify', {"key" : vkey }) }}">ce lien</a> pour activer votre compte !

L'équipe de Kuhnya vous souhaite une bonne journée et un bon appétit !